
.logo {
    width : 30%;
    height: 30%;
    min-width: 70px;
    margin : 10px 10% 10px 35%;
}

.main-div{
    background-color: rgb(214, 211, 205);
    margin-left: 20vw;
    margin-right: 20vw;
}

figure{
    padding: 5px 15% 5px 15%;
    margin: 0px 5% 0px 5%;
}

.figure-name{
    font-size: 1vw;
    margin: 0;
    padding: 0 10%;
    font-weight: bold;
    border-bottom: 1px solid gray;
}

.main-header {
    font-size: 24px;
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding-left: 28%;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;

}

body{
    background-color: #0f0a07;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 14px;
}

.header1{
    font-size: 1vw;
    font-weight: bold;
    padding-left: 25px;
    border-bottom: 1px solid #C0C0C0;
}

.header2{
    font-size: 1vw;
    font-weight: bold;
    padding-left: 8px;
}

#code-part{
    background-color: #eafded;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 1px solid #C0C0C0;
}

.logo-pic{
    margin-left: 47.5%;
    width : 100px;
    height : 100px;
}

.footer-text{
    font-size: 12px;
    margin-left: 47.5%;
}

.lang-list{
    padding-bottom: 4px;
}

.text1{
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    background-color: #e2dbdb;
    padding-bottom: 10px;
}